#primary-nav>li,
#secondary-nav>li {
  height: 40px;
  display: flex;
  align-items: center;
}

#primary-nav>li {
  position: relative;
}

#primary-nav>li>a {
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--color-neutral-900);
}

#primary-nav>li>a:hover,
#primary-nav>li>a.active {
  color: var(--color-primary-500);
}

#primary-nav>li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-500);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

#primary-nav>li:hover::before,
#primary-nav>li.active::before {
  transform: scaleX(1);
}